/* Reset + Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  main {
    padding: 2rem;
  }
  
  /* Bottom Button */
  #menuToggle {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fc491a;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  #menuToggle:hover {
    background-color: #007b7f;
  }

    /* Icon size */
  #menuToggle .material-symbols-rounded {
    font-size: 40px;
  }
  
  /* Floating Menu Panel */
  #menuOverlay {
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background-color: #ffffff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 999;
    min-width: 200px;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* When menu is open */
  #menuOverlay.open {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  
  #menuOverlay .menu-item {
    transition: background-color 0.3s ease;
  }
  
  #menuOverlay .menu-item:hover {
    background-color: #fc491a;
  }
  
  #menuOverlay a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; /* important to fill the parent div */
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #005456;
    text-align: center;
    transition: color 0.2s ease;
  }

  #menuOverlay a:hover {
    color:#ffffff;
  }
  
  #menuOverlay a.active {
    background-color: #fc491a;
    color: white;
  }
  
  