/* Reset + Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #343434;
    color: #ffffff;
    scroll-behavior: smooth;
  }

  img, video, iframe {
    display: block;
    max-width: 100%;
    height: auto;
  }

  section {
    padding-block: 2rem;
  }
  
  /* Bottom Button */
  #menuToggle {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    background-color: #fc491a;
    color: #fff;
    border: none;
    border-radius: 999px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.268);
  }
  
  #menuToggle:hover {
    background-color: #fc491a;
  }

  /* Menu Icon */
  #menuIcon {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: transform 0.4s ease, translate 0.4s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
    
  /* Floating Menu Panel */
  #menuOverlay {
    position: fixed;
    bottom: -1rem;
    padding-bottom: 130px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    background-color: rgba(85, 85, 85, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 999;
    min-width: 200px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    visibility: hidden;    
    pointer-events: none; 
  }

  @keyframes slideUpBounce {
    0% {
      transform: translateX(-50%) translateY(100%);
      opacity: 0;
    }
    60% {
      transform: translateX(-50%) translateY(-10px);
      opacity: 1;
    }
    80% {
      transform: translateX(-50%) translateY(5px);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }  

  @keyframes slideDownExit {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(100%);
    }
  }  

  /* Menu animations when opened and closed */
  .menu-open {
    animation: slideUpBounce 0.6s ease forwards;
    pointer-events: auto;
  }
  
  .menu-close {
    animation: slideDownExit 0.4s ease forwards;
    pointer-events: none;
  }
  
  /* When menu is open */
  #menuOverlay.open {
    animation: slideUpBounce 0.6s ease forwards;
    opacity: 1;
    pointer-events: auto;
  }
  
  #menuOverlay .menu-item {
    transition: background-color 0.3s ease;
  }
  
  #menuOverlay .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
  }
  
  #menuOverlay a {
    font-family: 'Montserrat', sans-serif;
    display: block; 
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    transition: color 0.2s ease;
  }
  
  #menuOverlay a.active {
    background-color: rgba(252, 73, 26, 0.8);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
    color: white;
  }

  #menuOverlay a.active:hover {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
  }

  .mainWrapper {
    position: relative;
    height: 200svh; /* enough scroll space */
  }

  /* Slide 1 - Home */
  .bg1 {
    position: absolute;
    inset: 0;
    background-image: url('../images/background1.jpg'); /* background image */
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .mainImage1 {
    position: sticky;
    top: 0;
    height: 100svh;
    z-index: 1;  
  }
  
  .avatar {
    padding: 0px;
    margin: 0px;;
    height: 100svh;
    width: 100%;
    position: relative;
    object-position: center;
    object-fit: contain;
    display: block;   
    z-index: 2;       
  }

  /* Sliding Text */
  .slide-wrapper {
    position: absolute;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    pointer-events: none;
  }

  .kevin-slide {
    font-size: 25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    top: 10svh;
    color: rgba(0, 0, 0, 0.368);
  }

  .slide-track {
    display: inline-block;
    animation: slide-left 60s linear infinite;
  }

  .slide-track span {
    padding: 0 2rem;
    display: inline-block;
  }

  /* Animations */
  @keyframes slide-left {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  /* Slide 2 - About Me */
  .about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 100%;
    height: 100svh;
    justify-content: space-between;
    padding: 3rem 3rem;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
    z-index: 5;
  }

  .motto {
    flex: 1 1 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    color: #fc491a;
    margin-right: 30px;
  }

  .motto h2 {
    font-family: 'Arapey', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    display: inline-block;
    background-color: #fc491a;
    color: #ffffff;
  }

  .introduction {
    flex: 1 1 55%;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 60px;
    margin-bottom: 70px;
    overflow: scroll;
    scroll-behavior: smooth;
  }


  /* Tablet CSS */
  @media (min-width: 469px) and (max-width: 980px) {

    /* Slide 2 - About Me */
    .motto, .introduction {
      flex: 1 1 100%;
      padding: 1rem 1rem;
    }

    .motto h1{
      font-size: 3rem;
    }

    .introduction {
      margin-top: 20px;
    }

    .introduction p{
      font-size: 1.3rem;
    }

  }

  /* MOBILE CSS */
  @media (max-width: 468px) {

    section, .container {
      padding: 1rem;
    }
  
    h1, h2 {
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }

    #menuOverlay {
      width: 100%;
    }

    /* Slide 1 - Home */
    .kevin-slide {
      top: 0;
    }

    .mainImage1 img {
      height: 100svh;
      object-fit: cover;     
    }

    .centered-box h1 {
      font-size: 20px;
    }

    /* Slide 2 - About Me */
    .intro-section {
      flex-direction: column;
      text-align: center;
    }
  
    .motto, .introduction {
      flex: 1 1 100%;
      padding: 1rem 1rem;
    }
  
    .motto h1{
      font-size: 3rem;
    }

    .introduction {
      margin-top: 10px;
    }

    .introduction p{
      font-size: 1rem;
    }

  }
  